

.game-div {
    width: 100vw;
    height: 120vh;
    background-color: rgb(42, 50, 47);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.side-panel {
    width: 35vw;
    height: 120vh;
    background-color: rgb(114, 53, 53);
}

h2{
    color:darkgoldenrod
}

.self-bar {
    border-style: groove;
    width: auto;
    height: auto;
    background: url('../../assets/backgrounds/medivial-background-1_adobe_express.svg');
    
    background-size: cover;
    
    border-style: groove;
   
  
    
    
}





.player-container {
    width: auto;
    height: 82vh;
    border-style:double;

}

.player-box {
    width: auto;
    height:auto;
    background-color: rgb(24, 138, 100)

}








.card-main {
    background-color:  rgb(32, 22, 53);
    width: 60vw;
    height: 20vh;
    margin-left: 25px;
    margin-top: 25px;
    border-style: outset;
    border-color: darkgoldenrod;
    border-width: 3px;
    display: flex;
    flex-direction: row;
  
    
   
   
    
    
}



.card {
    width: 12vh;
    height: 25vh;
    
    
 
}

.card-1 {
    
    width: 8vw;
    height: 12vh;
    background-repeat: no-repeat;
}

.prophecy-main {
    background-color:  rgb(32, 22, 53);
    width: 27vw;
    height: 100px;
    position: relative;
    left: 50vw;
    border-color: darkgoldenrod;
    border-right: 3px;
    bottom: 35%;
    border-style: outset;
    display: flex;
    flex-direction: row;
 
}





.proph-slot {
width: 15vw;
height:inherit;
border-style: outset;
border-color: darkgoldenrod;
margin: auto
}

.prophecy-main-display {
    background-color: rgb(51, 51, 55);
    width: 64vw;
    height: 28vh;
    border-style: outset;
    display: flex;
    
}

.character-info {
    color:rgb(14, 2, 4);
    text-decoration: overline;
}

.name-box {
 border-style: ridge;
 border-width: 5px;
 border-color: darkgoldenrod;
 background-color: rgb(21, 26, 31);
 width: fit-content;
 color: darkgoldenrod;
 margin: auto;
}