

.game-div {
    width: 100vw;
    height: 120vh;
    background-color: rgb(42, 50, 47);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.side-panel {
    width: 35vw;
    height: 120vh;
    background-color: rgb(114, 53, 53);
}

h2{
    color:yellow;
}

.self-bar {
    border-style: groove;
    width: auto;
    height: auto;
    background-color: rgb(100, 97, 103);
}





.player-container {
    width: auto;
    height: 82vh;
    border-style:double;

}

.player-box {
    width: auto;
    height: auto;
    background-color: aquamarine

}








.card-main {
    background-color: rgb(82, 100, 118);
    width: 60vw;
    height: 40vh;
    margin-left: 25px;
    margin-top: 25px;
    border-style: outset;
    border-width: 3px;
    display: flex;
    flex-direction: row;
  
    
   
   
    
    
}



.card {
    width: 12vh;
    height: 25vh;
    
    
 
}

.card-1 {
    
    width: 8vw;
    height: 12vh;
    background-repeat: no-repeat;
}

.prophecy-main {
    background-color: rgb(93, 93, 129);
    width: 27vw;
    height: 100px;
    position: relative;
    left: 50vw;

    bottom: 35%;
    border-style: outset;
    display: flex;
    flex-direction: row;
 
}

.submit-proph{


    height: 100px;
    
    
  
    
}



.proph-slot {
width: 15vw;
height:inherit;
border-style: outset;
margin: auto
}

.prophecy-main-display {
    background-color: rgb(51, 51, 55);
    width: 64vw;
    height: 28vh;
    border-style: outset;
    display: flex;
    
}